@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Nothing+You+Could+Do');


html {
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
  }
  
  
  body {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    line-height: 1.4;
    background:
      radial-gradient(transparent, rgba(34, 34, 34, 0.287)),
      url('../img/img_60303.jpg'),
      rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height:200vh;
  }

  .hidden {
    visibility: hidden;
    height: 0;
    display: none;
  }
  
  a {
    text-decoration: none;
  }  
  
  h1 {
    font-size: 3.2em;
    line-height: 1.6;
    margin: 1.8em 0.2em 0em 0.2em;
    padding-left: 1.8em;
    text-align: center;
    color: yellow;
  }

  h2 {
    font-size: 0.7em;
    margin: 0em 0.2em 0.2em 0.2em;
    padding-left: 6em;
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
  }

  h3 {
    margin-top: 6em;
    margin-bottom: 0em;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
    color: yellow;
  }

  p {
    justify-content: center;
  }
    
      
  .nav-menu {
    top: 0; 
    left: 0;
    bottom: 0;
    max-width: 20rem;
    z-index: 1;
  }
  
  .about-me {
    position: fixed;
    top: 0;
    bottom: 0;
    padding : 6.5rem 2rem 2rem;
    list-style: none;
    font-size: 3rem;
    line-height: 4rem;
    background-color: rgba(124, 123, 123, 0.637);
    transform: translateX(-100%);
    transition: transform ease-in-out 0.5s;
  }
  .about-me.open {
    transform: translateX(0);
    z-index: 1;
    height: 100%;
  }
  .about-me a {
    color: white;
  }
  .about-me a:hover {
    border-bottom: 2px solid;
  }
  
  .burger-menu {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: block;
    width: 3rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 2;
  }
  .burger-menu > div {
    width: 100%;
    height: 0.5rem;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5rem;
    transform-origin: 0 0;
    transition: transform ease-in-out 0.5s;
  }
  /* open */
  .open.burger-menu > div:nth-child(1) {
    transform: skew(0deg, 34deg);
  }
  .open.burger-menu > div:nth-child(2) {
    visibility: hidden;
  }
  .open.burger-menu > div:nth-child(3) {
    transform: skew(0deg, -34deg);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 1rem;
    margin: 0em 4em 4em 4em;
    border-radius: 0.5rem;
    background-color: white;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .form label {
    font-size: 1.25rem;
    margin-bottom : 0.25rem;
  }
  
  
  .text-input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    display: block;
    margin-bottom: 0.75rem;
    padding: 0.75rem 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid yellow;
  }
  .text-input:focus,
  .text-input:active {
    border: 3px double black;
    background-color: rgb(240, 238, 238);
  }
  
  .button-input {
    padding: 0;
    border: 0;
    background: transparent;
    margin-top: 3rem;
  }
  .button-submit,
  .button-input a {
    align-self: flex-end;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
    color: white;
    background-color: rgb(17, 87, 69);
  }
  .button-submit:hover,
  .button-submit:focus,
  .button-input a:hover,
  .button-input a:focus {
    background-color: black;
  }
  