<main class="page-content home">
    <section class="main-section">
        <h1>404: Page not found</h1>
        <button class="button-input" id="not-found"><a href="/">You can go back to the home page!</a></button>
    </section>
</main>