<main class="page-content home">
    <section class="main-section">
        <h1>500: Server Error</h1>
        <p>That's my bad, soz</p>
        <button class="button-input"><a href="/home">You can go back to the homepage though</a></button>
    </section>
</main>