<main class="page-content home">
    <section class="main-section">
        <h1>500: Server Error</h1>
        <button class="button-input" id="server-err"><a href="/">You can go back to the homepage though</a></button>
    </section>
</main>