<main class="page-content home">
    <section class="main-section">
        <button id="login-button" class="button-submit">login</button>
        <h1>Rarely Jovial</h1>
        <h2>So-called grown up trying to make her way through life with depression and anxiety</h2>

    </section>
    
    <section id="bloggy">

    <i class="fas fa-arrow-circle-left"></i>
        <ul class="blogpost-list">
            {{#each blogposts}}
            <li><h5>{{header}}</h5>
            <img src={{img_url}}></img>
            <p>{{preview text}}</p></li>
            {{/each}}
        </ul>
        <i class="fas fa-arrow-circle-right"></i>

    </section>
</main>