<main class="page-content login">
        <section id="form" title ="form">
        <form action='/userLogin' method='POST'>

<ul class="form">
            <h2>Login</h2>

            <li><label for ="name-of-user">Name</label><input pattern="^[^<>]+$" name='userName' type='text' id="name-of-user" class ="field-long" placeholder="Type your name here" required/> </li>
            <li><label for ="password">Password</label><input type="password" pattern="^[^<>]+$" name='password' id ="password" class ="field-long" placeholder="Enter your password here" required/> </li>
            <li><input type="submit" id="login" value= "login"></li>
          </ul>
        </form>
    </section>
</main>