<main class="page-content posts">
    <section class="main-section">
        <button id="login-button" class="button-submit" onclick="window.location.href='/login'">login</button>
     

    </section>
    
    <section class="post" id="post">

    </section>
</main>