<main class="page-content write">
    <section class="main-section">
        <h3>What's on your mind?</h3>
        <form action="/write" method="POST" class="form">
        <textarea name="header" class="text-input" rows="3" cols="14">

            </textarea>
            <textarea name="blogpost" class="text-input" rows="30" cols="14">

            </textarea>
        <button type="submit" class="button-submit">Publish</button>
        </form>
        
    </section>
</main>