<nav class="nav-menu">
    <a href="#" class="burger-menu" class="key">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <ul class="about-me">

    <img src="/img/69df62fe-7e4b-4dd0-b575-1af8ac17cc1b.jpeg" alt="A photo of Jo"></img>
        <h4>About me</h4>
        <p>Hey pals! I'm a nontypical Hufflepuff, or typical, depending on your stereotypes. Goth but super friendly. Do reach out.</p>
    </ul>
</nav>