<nav class="nav-menu">
    <a href="#" class="burger-menu" class="key">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <ul class="about-me">
        <li><a href="/">About me</a></li>
    </ul>
</nav>