<nav class="nav-menu">
    <a href="#" class="burger-menu" class="key">
        <div></div>
        <div></div>
        <div></div>
    </a>
    <ul class="about-me">

    <img src="/img/69df62fe-7e4b-4dd0-b575-1af8ac17cc1b.jpeg"></img>
        <h4><a href="/">About me</a></h4>
    </ul>
</nav>